/* style.css */
body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    display: flex;
    ;
}

/* Draggable sidebar */
#sidebar {
    cursor: default;

    position: static;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #f7f7f7;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000;
}

#sidebar.dragging {
    cursor: grabbing;
}

#map {
    flex: 1;
}

/* Responsive: stack on mobile */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #sidebar {
        position: relative;
        width: 100%;
        height: 50%;
        cursor: default;
    }

    #map {
        height: 50%;
    }
}

.leaflet-top,
.leaflet-bottom {
    position: static !important;
}

.leaflet-control-attribution {
    display: none;
}

#hike-notes,
#hike-name,
#hike-start-date,
#hike-end-date,
#hike-distance,
#hike-difficulty {
    width: 100%;
}

.hidden {
    display: none;
}

#download-json {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#hike-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

#hike-list li {
    border-radius: 3px;
    &:hover {
        background-color: rgba(99, 99, 99, 0.75);
    }
}